# Import Library

In [ ]:
# Downgrade version of TensorFlow and tf-keras

!pip install -q --upgrade "tensorflow<2.16" "tf-keras<2.16"

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 475.2/475.2 MB 2.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 68.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 84.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 89.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 59.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 442.0/442.0 kB 21.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 3.8 MB/s eta 0:00:00

In [ ]:
# Import libraries

import pickle
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model

# Load Models

In [ ]:
# Load models

with open('titanic_pipeline.pkl', 'rb') as file_1:
  model_pipeline = pickle.load(file_1)

model_ann = load_model('titanic_model.keras')

WARNING:absl:Skipping variable loading for optimizer 'Adam', because it has 1 variables whereas the saved optimizer has 13 variables.

# Inferencing

In [ ]:
# Create a new data

data_inf = {
    'PassengerId': 3001,
    'Pclass': 0,
    'Name': 'Danu Purnomo',
    'Sex': 'male',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17599',
    'Fare': 10,
    'Cabin': 'A1',
    'Embarked': 'C',
    'Age': 26
}

data_inf = pd.DataFrame([data_inf])
data_inf

,PassengerId,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age
0,3001,0,Danu Purnomo,male,0,0,PC 17599,10,A1,C,26

In [ ]:
# Predict using ANN

data_inf_transform = model_pipeline.transform(data_inf)
y_pred_inf = model_ann.predict(data_inf_transform)
y_pred_inf

1/1 [==============================] - 0s 66ms/step

array([[0.6643554]], dtype=float32)

In [ ]:
# Convert target

y_pred_inf = np.where(y_pred_inf >= 0.5, 1, 0)
y_pred_inf

array([[1]])